@import "materialize/materialize";
@import "materialNote";

@media #{$large-and-up} {
  header, main, footer {
    padding-left: 240px;
  }
  .nav-wrapper .page-title{
    margin-left:2rem;
  }
}
@media #{$small-and-down} {
  .page-title{
    margin-left:1.2em;
  }
  nav .button-collapse.hamburger{
    position:absolute;
    left:-1em;
  }
  .itemList{
    font-size:16px;
  }
}

.material-icons.vmid{
  vertical-align:-25%;
  margin-right:2rem;
}

.select-wrapper + label{
  transition:none;
}

.collapsible-header i.material-icons{
  width:auto;
}

.side-nav .collapsible-body li a {
  margin: 0 1rem 0 2em;
  padding-left: 5rem;
}

ul.side-nav.fixed li a {
  font-size: 13px;
  line-height: 44px;
  height: 44px;
}

.bold > a {
  font-weight: bold;
}

nav .page-title{
  font-size: 2.1rem;
  font-weight:200;
}

.nav-wrapper ul li a{
  min-width: 5rem;
  text-align: center;
}

.waves-effect.waves-indigo .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */

  background-color: rgba(63,81,181, 0.65);
}

.listItem{
  .row{
    margin-bottom:0;
  }
}

.contextButtons .material-icons{
  display: inline-block;
  vertical-align: top;
}

.container{
  padding-top:2rem;
}

.disabled{
  cursor: not-allowed;
}

ul.bullets{
  list-style-type: initial;
}

.pagination{
  text-align:center;
}

.input-field.richtext{
  margin-top:2rem;
  & label.active{
    transform: translateY(-200%);
  }
}

.note-dialog .modal-content{
  background-color: #ffffff;
}

.note-editable{
  min-height:30vh;
}

.input-group{
  position:relative;
  & input{
    float:left;
    width: calc(100% - 3rem);
  }
  & .btn{
    height:3rem;
    & .material-icons {
      line-height: 3rem;
    }
  }
}

.btn-narrow{
  padding:0;
  width:3rem;
}